<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Description | plainify }}{{ end }}"
/>
<meta
  name="keywords"
  content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"
/>

<meta name="author" content="{{- if .Params.author -}}
  {{ .Params.author }}
{{- else if .Site.Params.Author.name -}}
  {{ .Site.Params.Author.name }}
{{- end }}">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<link rel="canonical" href="{{ .Permalink }}" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#2a485a">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

{{ partialCached "css.html" . }}

{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}

<script data-domain="arbs09.dev" defer="" src="https://analytics.arbs09.dev/js/script.outbound-links.js"></script>

{{- partial "custom_head.html" . -}}
