<!DOCTYPE html>
{% if page.extra.lang %}{% set lang = page.extra.lang %}{% else %}{% set lang = "en" %}{% endif %}
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  {% if page.title %}
  {% set title = page.title %}
  {% elif section.title %}
  {% set title = section.title %}
  {% elif config.title %}
  {% set title = config.title %}
  {% else %}
  {% set title = "NULL" %}
  {% endif %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />

  <link rel="preload" href="{{ get_url(path="style.css") | safe }}" as="style">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.description %}
  {% set description = page.description %}
  {% elif section.description %}
  {% set description = section.description %}
  {% else %}
  {% set description = config.description %}
  {% endif %}
  <meta name="description" content="{{ description }}">
  <meta name="twitter:description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />

  <link rel="icon" type="image/png" href="{{ get_url(path="favicon-96x96.png", trailing_slash=false) }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ get_url(path="favicon.svg", trailing_slash=false) }}" />
  <link rel="shortcut icon" href="{{ get_url(path="favicon.ico", trailing_slash=false) }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="apple-touch-icon.png", trailing_slash=false) }}" />
  <meta name="apple-mobile-web-app-title" content="arbs09.dev" />
  <link rel="manifest" href="{{ get_url(path="site.webmanifest", trailing_slash=false) }}" />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  
  {% if is_404 or page.extra.hidden %}
  <meta name="robots" content="noindex, follow" />
  {% else %}
  <meta name="robots" content="index, follow" />
  {% endif %}

  {% if current_url %}
  <link rel="canonical" href="{{ current_url | safe }}">
  <meta property="og:url" content="{{ current_url | safe }}" />
  {% endif %}

  <meta name="twitter:site" content="@arbs09_" />
  {% if page.image %}
  <meta property="og:image" content="{{ page.image | safe }}" />
  <meta name="twitter:image" content="{{ page.image | safe }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}

  <meta property="og:type" content="website" />
  <meta name="fediverse:creator" content="@arbs@mastodon.social">
  {% block structured_data %}{% endblock %}

  <script defer src="https://analytics.getroot.eu/script.js" data-website-id="5408385e-42df-45db-8b70-9bd61b364efa" data-do-not-track="true"></script>
  <script src="{{ get_url(path="js/elasticlunr.min.js") | safe }}" defer></script>
</head>

<body class="bg-gray-200">
  {% include "nav.html" %}
  <section class="min-h-screen">
    <div>
      {% block content %} {% endblock %}
    </div>
  </section>
  {% include "footer.html" %}
</body>

<script>
setTimeout(() => {
  const url = new URL(window.location.href);

  const utmParams = [
    'utm_source',
    'utm_medium',
    'utm_campaign',
    'utm_term',
    'utm_content'
  ];

  let modified = false;

  utmParams.forEach(param => {
    if (url.searchParams.has(param)) {
      url.searchParams.delete(param);
      modified = true;
    }
  });

  if (modified) {
    window.history.replaceState(
      {},
      document.title,
      url.pathname + url.search + url.hash
    );
  }
}, 500);
</script>

</html>
