<footer class="bg-gray-700 text-gray-100 font-semibold px-6 py-8">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0">
    <div class="text-center md:text-left space-y-1 text-sm">
      <p>&copy; 2025 <span>arbs09.dev</span></p>
      <p>Built with
        <a href="https://www.getzola.org/" target="_blank" rel="nofollow noopener external" class="underline">Zola</a>
      </p>
    </div>
  
      <div class="flex space-x-4">
        <a href="https://github.com/arbs09/" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="{{ get_url(path="icons/github.svg", trailing_slash=false) }}" alt="GitHub" class="h-6 w-auto">
        </a>
        <a href="https://codeberg.org/arbs09" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="{{ get_url(path="icons/codeberg.svg", trailing_slash=false) }}" alt="Codeberg" class="h-6 w-auto">
        </a>
        <a href="mailto:hi@arbs09.dev" target="_blank" rel="me" class="u-email transition-transform transform hover:scale-110">
          <img src="{{ get_url(path="icons/email.svg", trailing_slash=false) }}" alt="E-Mail" class="h-6 w-auto">
        </a>
        <a href="https://mastodon.social/@arbs" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="{{ get_url(path="icons/mastodon.svg", trailing_slash=false) }}" alt="Mastodon" class="h-6 w-auto">
        </a>
        <a href="https://bsky.app/profile/arbs09.dev" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="{{ get_url(path="icons/bluesky.svg", trailing_slash=false) }}" alt="bluesky" class="h-6 w-auto">
        </a>
      </div>
    </div>
</footer>
  