{% extends "base.html" %}

{% block content %}
  <div class="min-h-screen flex items-center justify-center text-center">
    <div class="container mx-auto px-4 sm:px-6 md:px-8 lg:px-32 xl:px-48 py-8">
      <h1 class="text-center text-4xl font-bold">@arbs09</h1>
      <div class="flex justify-center items-center mb-5 mt-5 space-x-2">
        <a href="https://github.com/arbs09/" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="/icons/github.svg" alt="github" class="w-auto h-6">
        </a>
        <a href="mailto:hi@arbs09.dev" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="/icons/email.svg" alt="E-Mail" class="w-auto h-6">
        </a>
        <a href="https://mastodon.social/@arbs" rel="me" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="/icons/mastodon.svg" alt="Mastodon" class="w-auto h-6">
        </a>
      </div>
      <hr class="border-t-2 border-gray-300 my-6 mx-auto w-1/2">
      <p class="text-center text-lg">Check out my <a href="/projects/" class="text-blue-600 hover:text-blue-800 transition duration-300">projects</a> and my <a href="/tools/" class="text-blue-600 hover:text-blue-800 transition duration-300">tools</a>!</p>
    </div>
  </div>
{% endblock content %}