name: CI
run-name: Static site deployment
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: deploy
    outputs:
      deploy-artifact: build-artifact
    steps:
      - name: Checkout the current branch
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Node.js, Zola, Minify, and sshpass in parallel
        run: |
          sudo snap install zola --edge &
          sudo apt-get install minify sshpass -y &
          wait
          
      - name: Install npm dependencies from package.json
        run: npm install

      - name: Build TailwindCSS
        run: npx @tailwindcss/cli -i static/input.css -o static/style.css --minify

      - name: zola check
        run: zola check

      - name: zola build
        run: zola build

      - name: Minify site
        run: minify -r -a -s -v -o ready/ --html-keep-quotes --html-keep-document-tags --js-keep-var-names public/

      - name: Upload built site
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact
          path: ready/

  deploy_to_static:
    needs: build
    runs-on: ubuntu-latest
    environment: deploy
    steps:
      - name: Download built site
        uses: actions/download-artifact@v7
        with:
          name: build-artifact
          path: ready/

      - name: Set up SSH known hosts
        run: |
          mkdir -p ~/.ssh
          touch ~/.ssh/known_hosts
          ssh-keyscan -H $DEPLOY_SERVER >> ~/.ssh/known_hosts
        env:
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}

      - name: Deploy the website to static server
        run: |
          sshpass -p "$DEPLOY_PASSWORD" rsync -avx -e 'ssh -T' --delete --exclude '.ssh' ready/ $DEPLOY_USERNAME@$DEPLOY_SERVER:./
        env:
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}
          DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}
          DEPLOY_PASSWORD: ${{ secrets.DEPLOY_PASSWORD }}
